.BookFeature {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-right: 1rem;
  position: relative;
}

.BookFeature .BookFeature-title {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.BookFeature:hover .BookFeature-title {
  opacity: 1;
}
