.RandomBook {
  display: block;
  padding: 10px 17px;
  font-size: 1.3em;
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-right: 1.3rem;
  margin-top: 1rem;
  border-radius: 20px;
  border: 3px solid white;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: #055103;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: .8rem;
}
