.BookSpace {
    position: relative;
    width: 100%;
    /* text-align: center; */
    background-image: url('https://t3.ftcdn.net/jpg/01/27/02/92/240_F_127029231_vh7GCbshFW7dgxTVImx2NBXmolZJLMK7.jpg');
  }

.BookSpace .BookSpace-title {
    text-decoration: none;
    color: darkolivegreen;
}

.BookSpace h1 {
    display: block;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      font-weight: lighter;
      background-color: rgba(255, 255, 255, 0.75);
      padding: 1rem;
      text-align: left;
}

.BookSpace .BookSpace-info {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
}

.BookSpace .BookSpace-info div {
	display: inline-block;
    font-weight: bold;
	padding: 0.25em 0.5em;
	background-color: pink;
}
  
.BookSpace > img {
    width: 100%;
    height: auto;
}

.genre {
    font-style: italic;
    color: rgba(174, 8, 108, 0.75);
}