@import url(//fonts.googleapis.com/css?family=Pacifico);

.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/448/38/538/book-book-stack-bookcase-books-wallpaper-preview.jpg");
  background-size: cover;
  height: 50vh;
  text-align: center;
  padding: 60px;
  border: 14px solid rgba(255, 255, 255, 0.75);
  border-radius: 100px;
}

.logo b {
  font: 400 13vh "Pacifico";
  color: #fefefe;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #44ff60, 0 0 0.5em #0ade2a,
    0 0 0.1em #21961f, 0 10px 3px #000;
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.Title-Subtitle {
  font-size: 2em;
  font-family: monaco;
  color: #fff;
  margin: 0;
  margin-top: 5px;
  padding-bottom: 70px;
}

.Title-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav-link {
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-right: 20px;
  border-radius: 20px;
  border: 3px solid white;
  transition: all 0.2s ease-in-out;
  background-color: rgba(112, 246, 105, 0.4);
  cursor: pointer;
}

.nav-link-hover,
.nav-link-active {
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 20px;
  border: 3px solid white;
  transition: all 0.2s ease-in-out;
  background-color: rgba(112, 246, 105, 0.4);
  cursor: pointer;
}
