@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* Mobile-first styles */
.Title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  padding: 0.2rem;
  background: #055103;
  border-radius: 20px;
}

.logo b {
  font: 100 10vw Luminari;
  font-size: 60px;
  color: #fefefe;
  text-shadow: 0 -10px 25px, 0 0 1px, 0 0 0.3em #44ff60, 0 0 0.2em #0ade2a,
    0 0 0.05em #21961f, 0 4px 1px #000;
}

.logo b span {
  animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px 10px 5px;
  font-size: 1rem;
  width: 100%;
}

.nav-link {
  display: block;
  padding: 10px 17px;
  font-size: 1.3em;
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-right: 1.3rem;
  margin-top: 1rem;
  border-radius: 20px;
  border: 3px solid white;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: #055103;
  cursor: pointer;
  text-decoration: none;
}

/* Style active link */
.nav-link-hover,
.nav-link-active {
  padding: 10px;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  margin-right: 20px;
  margin-top: 1rem;
  border-radius: 20px;
  border: 3px solid white;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: #055103;
  text-decoration: none;
}


/* Media Query for Desktop */
@media (min-width: 768px) {
  .Title {
    height: 18vh;
    padding: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    max-width: 1800px;
    margin: 0;
  }

  .logo b {
    font-size: 3.5rem;
    left: 2%;
  }

  .navbar-nav {
    justify-content: flex-end;
    position: absolute;
    top: 3%;
    right: 1rem;
    margin: 0;
  }

  .nav-link {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8rem;
    text-decoration: none;
  }

  .nav-link-hover,
  .nav-link-active {
    color: #055103;
    text-decoration: none;
    border: 3px solid #055103;
    background-color: white;
    margin-bottom: 0.8rem;
  }
}
