/* .alexa {
    border-radius: 50%;
    border: 2px solid black;
    height:120px;
    width:120px;
} */

@import url(//fonts.googleapis.com/css?family=Pacifico);

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-header {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #444444;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.about-text {
  max-width: 800px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #666666;
  text-align: center;
}

.about-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #444444;
  margin-bottom: 2rem;
}

.signature {
  font-family: "Pacifico";
}
