/* Mobile */
.BookList {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  margin: auto;
  padding: 1em;
}

.BookList form {
  margin: 0 auto;
  padding: 2em;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BookList form label {
  margin-bottom: 0.5em;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 10px;
}

.BookList form input {
  padding: 10px;
  margin-right: 20px;
  border: 3px solid darkgreen;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  color: darkgreen;
  flex: 2;
  border-radius: 0.5em;
  width: 100%;
  max-width: 300px;
}

/* Tablets */
@media only screen and (min-width: 700px) {
  .BookList {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .BookList {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
  }

  .BookList form {
    grid-row: 1;
    grid-column: 1 / -1;
    margin: 0 auto;
    padding: 2em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Move search results to top */
  .BookList p {
    grid-row: 2;
    grid-column: 1 / -1;
    justify-self: center;
    margin: 0;
  }

  /* Move books to bottom */
  .BookList .BookSpace {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}
