.BookList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
	max-width: 1200px;
	margin: auto;
	padding: 2em;
	background-color: white;
	/* background-image: url('https://t3.ftcdn.net/jpg/01/27/02/92/240_F_127029231_vh7GCbshFW7dgxTVImx2NBXmolZJLMK7.jpg'); */
}

/* Smaller screens and tablets */
@media only screen and (max-width: 960px) {
	.BookList {
		grid-template-columns: 1fr 1fr;
	} 
 }

/* Small screens mobile */
@media only screen and (max-width: 700px) {
	.BookList{
		grid-template-columns: 1fr;
	}
}

/*  ------- unknown SEARCH BAR ----- */
/* .BookList form {
	display: flex;
	align-items: flex-start;
}

.BookList form input, .BookList form button {
	padding: 1em;
	margin: 0;
	border: 1px solid;
	font-size: 1rem;
    background-color: pink;
}

.BookList form input {
	flex: 1;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.BookList form button {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}   */

/*  ------- GREEN SEARCH BAR ----- */

.BookList form {
    display: flex;
    align-items: flex-start;
    margin: 1em 0;
}

.BookList form input, .BookList form button {
    padding: 1em;
    margin: 0;
    border: 1px solid darkgreen;
    font-size: 1rem;
    background-color: lightgreen;
    color: darkgreen;
}

.BookList form input {
    flex: 1;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.BookList form button {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: darkgreen;
    color: white;
}


/*  ------- TEST SEARCH BAR ----- */
