.footer {
  padding: 20px;
  background-color: #055103;
  border: 14px;
  border-radius: 20px;
}

.footer p {
  font-size: 14px;
  margin: 0;
  color: white;
  font-weight: bold;
  text-align: center;
}

.social-icon {
  display: block;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

.social-icon a {
  display: inline-block;
  padding: 5px;
}

.social-icon img {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .footer {
    padding: 20px;
  }

  .footer p {
    font-size: 16px;
  }

  .social-icon {
    justify-content: flex-end;
  }

  .social-icon img {
    width: 28px;
    height: 28px;
  }
}

